body {
    font-family: "poppinsregular", "sans-serif";
    text-decoration: none !important;
}

#body-div {
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
}

#body-div::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 24px solid transparent;
    border-image: url('../images/hero-large.svg') 160 round;
    border-width: 24px;
    border-image-width: 24px;
    pointer-events: none;
}

@media (max-width: 767px) { /* sm devices */
    #body-div::before,
    #body-div::after {
        border-image: url('../images/hero-small.svg') 70 round;
        border-width: 8px;
        border-image-width: 18px;
    }
}

#top-nav {
    padding: 1rem;
    width: auto;
    display: flex;
    flex-wrap: wrap; /* Allows elements to wrap on smaller screens */
    justify-content: space-between;
}

#nav-items .button {
    padding: 0.5rem 1rem;
    background-color: #C03A31;
    color: white;
    border-radius: 30px;
}

#nav-items .a:hover { 
    color: #000000;
    text-decoration: dotted !important;
}

#hero {
    background-image: url('../images/grass.svg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 10%;
}

@media (max-width: 767px) { /* sm devices */
    #hero {
        background-size: 15%;
    }
}

#chapters-header {
    background-image: url('../images/ferris.svg');
    background-position: 10% 30%;
    background-repeat: no-repeat;
    background-size: 5%;
}

@media (max-width: 767px) { /* sm devices */
    #chapters-header {
        background-size: 5%;
        background-position: right 50% 50%;
    }
}

#contact {
    background-image: url('../images/shells.svg');
    background-position: 10% 30%;
    background-repeat: no-repeat;
    background-size: 5%;
}

.button-link {
    font-family: "brizelregular", "sans-serif";
    border: 2px solid #F39192;
    border-radius: 30px;
    padding: 10px 15px;
    background-color: #F39192;
}

.button-link:hover {
    font-family: "brizelregular", "sans-serif";
    border: 2px solid #F39192;
    border-radius: 30px;
    padding: 10px 15px;
    background-color: #F39192;
    color: #000000;
}

.button-link a:hover {
    text-decoration: none !important;
    color: #FFFFFF;
}

.button-link a:visited {
    text-decoration: none;
    color: #C03A31;
    background-color: #F39192;
}

.bg-light-pink {
    background-color: #F5C4C4;
}

.rounded {
    border-radius: 10px;
}

.tag {
    background-color: #FFFFFF;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.8em;
}

.btn-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.contact-card {
    background-color: #c43a31;
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto;
}

.contact-card h2 {
    margin-bottom: 5px;
}

.contact-card p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 0.9em;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.contact-form textarea {
    height: 100px;
}

.contact-form button {
    background-color: white;
    color: #c43a31;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

.footer {
    background-color: #f8f8f8;
    padding: 2rem 0;
    border-top: 1px solid #e7e7e7;
}

.footer-logo img {
    max-width: 120px;
    height: auto;
}

.footer-copyright {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #C03A31;
}

.footer-social a {
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.footer-social a:hover {
    transform: scale(1.1);
}

.footer-social img {
    width: 30px;
    height: 30px;
}

@media (max-width: 768px) {
    .footer .frow {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer-logo, .footer-copyright, .footer-social {
        margin-bottom: 1rem;
    }
}

/* Hide scrollbar for all elements */
::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

html, body {
    overflow: -moz-scrollbars-none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    scrollbar-width: none; /* For Firefox */
}

.font-brizel-regular {
    font-family: "brizelregular", "sans-serif";
}

.font-poppins-regular {
    font-family: "poppinsregular", "sans-serif";
}

.font-hack-regular {
    font-family: "hack-regular", "sans-serif";
}

.font-size-100 {
    font-size: 100%;
}

.font-size-150 {
    font-size: 150%;
}

.font-size-200 {
    font-size: 200%;
}

.font-size-300 {
    font-size: 300%;
}

.font-size-400 {
    font-size: 400%;
}

.width-100 {
    width: 100% !important;
}

.width-50 {
    width: 50% !important;
}

.width-20 {
    width: 20% !important;
}

.border-red {
    border: 1px solid red;
}

.color-primary {
    color: #C03A31;
}

.bg-color-primary {
    background-color: #C03A31;
}

.color-secondary {
    color: #F39192;
}

.bg-color-secondary {
    background-color: #F39192;
}

.color-tertiary {
    color: #FFFFFF;
}

.bg-color-tertiary {
    background-color: #FFFFFF;
}